version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "."
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "./js"
    schedule:
      interval: "weekly"
    versioning-strategy: "increase"
