.binpath
.DS_Store
.vs
.vscode
*.log

# Rust
target/

# C#
net/**/[Bb]in/
net/**/[Oo]bj/
net/**/*.trx

# js
node_modules/
js/**/lib/
js/cli/build/
js/test/demo/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.npmrc
js/parser/parser.wasm

# Verify
*.received.*
*.received/
