* text auto

*.cs text diff=csharp
*.rs text diff=rust
*.toml text

*.js text
*.ts text
*.json text
yarn.lock merge=union
# Verify
*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.xml text eol=lf working-tree-encoding=UTF-8
*.verified.json text eol=lf working-tree-encoding=UTF-8
*.verified.cs text eol=lf working-tree-encoding=UTF-8
