[workspace.package]
version = "0.0.1"
authors = ["Gear Technologies"]
edition = "2021"
license = "GPL-3.0"

[workspace]
resolver = "2"
members = [
    "client-gen",
    "examples/puppeteer/app",
    "examples/puppeteer/wasm",
    "examples/rmrk/catalog/app",
    "examples/rmrk/catalog/wasm",
    "examples/rmrk/resource/app",
    "examples/rmrk/resource/wasm",
    "examples/this-that-svc/app",
    "examples/this-that-svc/wasm",
    "idl-gen",
    "idl-parser",
    "macros",
    "macros/core",
    "rtl",
]

[workspace.dependencies]
anyhow = "1"
convert-case = { package = "convert_case", version = "0.6" }
futures = { version = "0.3", default-features = false }
gear-core-errors = "1.3.1"
git-download = "0.1"
gstd = "1.3.1"
gtest = "1.3.0"
gwasm-builder = { package = "gear-wasm-builder", version = "1.3.0" }
handlebars = "4.4"
hashbrown = "0.14"
hex = { version = "0.4", default-features = false }
insta = "1.34"
itertools = "0.12"
lalrpop = { version = "0.20", default-features = false }
lalrpop-util = "0.20"
logos = "0.13"
parity-scale-codec = { version = "3.6", default-features = false }
prettyplease = "0.2"
primitive-types = { version = "0.12", default-features = false }
proc-macro-error = "1.0"
proc-macro2 = { version = "1", default-features = false }
quote = "1.0"
sails-client-gen = { path = "client-gen" }
sails-idl-gen = { path = "idl-gen" }
sails-idl-parser = { path = "idl-parser" }
sails-macros = { path = "macros" }
sails-rtl = { path = "rtl" }
scale-info = { version = "2.11", default-features = false }
serde = "1.0"
serde-json = { package = "serde_json", version = "1.0" }
syn = "2.0"
thiserror = "1.0"
thiserror-no-std = "2.0"
tokio = "1.37"
trybuild = "1"
