[workspace.package]
version = "0.0.1"
authors = ["Gear Technologies"]
edition = "2021"
license = "GPL-3.0"

[workspace]
resolver = "2"
members = [
    "client-gen",
    "sender",
    "examples/puppeteer/app",
    "examples/puppeteer/wasm",
    "examples/this-that-svc/app",
    "examples/this-that-svc/wasm",
    "idlgen",
    "idlparser",
    "macros",
    "macros/core",
    "service-meta",
]

[workspace.dependencies]
anyhow = "1"
convert-case = { package = "convert_case", version = "0.6" }
gmeta = "1.1.0"
gstd = "1.1.0"
gsys = "1.1.0"
gwasm-builder = { package = "gear-wasm-builder", version = "1.1.0" }
handlebars = "4.4"
itertools = "0.12"
lalrpop = { version = "0.20", default-features = false }
lalrpop-util = "0.20"
logos = "0.13"
parity-scale-codec = { version = "3.6", default-features = false }
proc-macro-error = "1.0"
proc-macro2 = { version = "1", default-features = false }
quote = "1.0"
rand = "0.8"
sails-clentgen = { path = "client-gen" }
sails-idlgen = { path = "idlgen" }
sails-idlparser = { path = "idlparser" }
sails-macros = { path = "macros" }
sails-sender = { path = "sender" }
sails-service-meta = { path = "service-meta" }
scale-info = { version = "2.10", default-features = false }
serde = "1.0"
serde-json = { package = "serde_json", version = "1.0" }
syn = "2.0"
thiserror = "1.0"
tokio = "1.35"
trybuild = "1"
