[package]
name = "sails-idl-parser-wasm"
description = "WASM IDL v2 parser for the Sails framework"
documentation = "https://docs.rs/sails-idl-parser"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
sails-idl-meta = { workspace = true, features = ["serde"] }
sails-idl-parser-v2.workspace = true
