[package]
name = "rmrk-catalog-app"
version = "0.1.0"
edition.workspace = true

[package.metadata.sails]
services = ["rmrk_catalog_app::services::Catalog"]

[dependencies]
sails-rs = { workspace = true }
anyhow = { workspace = true, optional = true }
sails-build = { workspace = true, optional = true }

[build-dependencies]
sails-build.workspace = true
sails-rs = { workspace = true, features = ["wasm-builder"] }

[features]
default = ["sails-canonical", "wasm-builder"]
sails-canonical = []
wasm-builder = []
sails-meta-dump = ["sails-canonical", "dep:anyhow", "dep:sails-build"]

[[bin]]
name = "sails_meta_dump"
path = "src/bin/sails_meta_dump.rs"
required-features = ["sails-meta-dump"]
