[package]
name = "sails-idl-meta"
description = "IDL meta information for the Sails framework"
documentation = "https://docs.rs/sails-idl-gen"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
scale-info.workspace = true
thiserror.workspace = true
blake3.workspace = true
serde.workspace = true
serde-json.workspace = true
serde_json_canonicalizer.workspace = true

[features]
default = [ "ast" ]
ast = []

[dev-dependencies]
insta.workspace = true
