[package]
name = "sails-idl-meta"
description = "IDL meta information for the Sails framework"
documentation = "https://docs.rs/sails-idl-gen"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
askama = { workspace = true, optional = true }
scale-info.workspace = true

[dev-dependencies]
insta.workspace = true

[features]
default = ["ast"]
ast = []
templates = ["dep:askama", "ast"]

[[test]]
name = "templates"
required-features = ["templates"]
