[package]
name = "rmrk-resource-app"
version = "0.1.0"
edition.workspace = true

[dependencies]
mockall = { workspace = true, optional = true }
sails-rs.workspace = true

[build-dependencies]
git-download.workspace = true
sails-rs = { workspace = true, features = ["build"] }
rmrk-catalog-app = { path = "../../catalog/app" }

[dev-dependencies]
rmrk-resource-app = { path = ".", features = ["mockall"] }
tokio = { workspace = true, features = ["rt", "macros"] }

[features]
mockall = ["sails-rs/mockall", "dep:mockall"]
