[package]
name = "rmrk-resource-app"
version = "0.1.0"
edition = "2021"

[dependencies]
gstd.workspace = true
parity-scale-codec = { workspace = true, features = ["derive"] }
sails-rs.workspace = true
scale-info = { workspace = true, features = ["derive"] }

[build-dependencies]
git-download.workspace = true
sails-client-gen.workspace = true
