[package]
name = "rmrk-resource-app"
version = "0.1.0"
edition = "2021"
resolver = "2"

[dependencies]
mockall = { workspace = true, optional = true }
sails-rs.workspace = true

[build-dependencies]
git-download.workspace = true
sails-client-gen.workspace = true

[dev-dependencies]
rmrk-resource-app = { path = ".", features = ["mockall"] }
tokio = { workspace = true, features = ["rt", "macros"] }

[features]
mockall = ["sails-rs/mockall", "dep:mockall"]
