[workspace.package]
version = "0.10.0"
edition = "2024"
authors = ["Gear Technologies"]
license = "GPL-3.0"
repository = "https://github.com/gear-tech/sails"
rust-version = "1.88"

[workspace]
resolver = "3"
members = ["ethapp", "ethapp_with_events", "macros-tests"]

[workspace.dependencies]
# sails
sails-rs = { path = ".." }
sails-macros-core = { path = "../macros/core" }

# other
insta = "1.46"
prettyplease = "0.2"
proc-macro2 = { version = "1", default-features = false }
quote = "1.0"
syn = "2.0"
tokio = "1.49"
trybuild = "1"
