[package]
name = "rmrk-resource"
version = "0.1.0"
edition = "2021"

[dependencies]
rmrk-resource-app = { path = "../app" }

[build-dependencies]
gwasm-builder.workspace = true
rmrk-resource-app = { path = "../app" }
sails-client-gen.workspace = true
sails-idl-gen.workspace = true

[dev-dependencies]
gtest.workspace = true
rmrk-catalog = { path = "../../catalog/wasm" }
sails.workspace = true
thiserror-no-std.workspace = true
tokio = { workspace = true, features = ["rt", "macros"] }
