name: '[net] CI'

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/net-ci.yml'
      - 'net/**'
      - 'Sales.Net.sln'

  pull_request:
    paths:
      - '.github/workflows/net-ci.yml'
      - 'net/**'
      - 'Sales.Net.sln'

  workflow_dispatch:

jobs:
  build_test:
    name: Test Managed Code
    runs-on: ubuntu-latest
    permissions:
      packages: read
    defaults:
      run:
        shell: bash

    steps:
      - name: Check Code
        uses: actions/checkout@v4

      - name: Set Up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore Solution
        run: |
          dotnet restore

      - name: Build Solution
        run: |
          dotnet build --no-restore --configuration Debug

      - name: Test Solution
        run: |
          dotnet test --no-build --configuration Debug \
            --logger "trx;LogFileName=TestResults.trx"

      - name: Upload Test Results
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            net/**/*.trx
            !net/**/Sails.Tests.Shared/**/*.trx

  build_win_x64:
    name: Test Native Libraries for Win x64
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build & Test Client Generator
        run: |
          cargo test --locked --manifest-path net/rs/Cargo.toml --release

  build_linux_x64:
    name: Test Native Libraries for Linux x64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build & Test Client Generator
        run: |
          cargo test --locked --manifest-path net/rs/Cargo.toml --release

  build_osx_x64:
    name: Test Native Libraries for NacOS x64
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build & Test Client Generator
        run: |
          rustup target add x86_64-apple-darwin
          cargo test --locked --manifest-path net/rs/Cargo.toml --release --target x86_64-apple-darwin

  build_osx_arm64:
    name: Test Native Libraries for MacOS ARM64
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Build & Test Client Generator
        run: |
          rustup target add aarch64-apple-darwin
          cargo test --locked --manifest-path net/rs/Cargo.toml --release --target aarch64-apple-darwin
